@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'Poppins', 'Montserrat', 'Quicksand', sans-serif;
    font-size: 90%;
    background-color:#F8F8FF;
    color:#393939;
 }

/* .container {
    max-width: 750px;
    margin: auto;
} */

.picture {
    border-radius: 7px;  
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    box-sizing: content-box;
}

.main_picture {
    max-width: 750px;
    margin: 1% auto;   
    box-sizing: content-box;
}

.main_text {
font-size: 110%;
font-weight:normal;
background-color:rgba(220, 220, 220, 0.5);
border-radius: 15px;
padding: 2%;
max-width: 750px;
margin: 1% auto;
box-sizing: content-box;
}

.info {
    font-size: 90%;    
}

.list {
    margin-left: 2em;
}

h3, h2 {
    margin-bottom: 0.4em;
}

a {
    color:darkblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
}

a:hover {
color:darkgreen;
}

a:active {
    color:dodgerblue;
}

/* a:visited {
    color:cadetblue;
} */

.btn {
    background-color: darkblue;
    color: #F8F8FF;
    padding: 1em 2em;
    border: none; 
    cursor: pointer;
    border-radius: 5px;
    font-size: 105%;
    margin:2px;
} 