@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-margin-top: 1em;
}
body {
    font-family:'Poppins','Quicksand','Montserrat',   sans-serif;
    /* font-size: 90%; */
    background-color:#F8F8FF;
    color:#393939;
    font-size: 14px;;
  }

.navbar {
    background-color: #F8F8FF;
    max-width: 750px;
    margin: 0 auto; 
    position: -webkit-sticky;
    position: sticky;
    
}

.navbar ul {
    list-style: none;
    display: flex; 
    align-items: center;
}

.navbar ul li {
 width: 20%;
 
  }

 .navlink {
    background-color: #fff;   
    border: solid rgb(223, 223, 253) 1px;
    padding: 1em 0;
    width: 100%;
    box-sizing: content-box;
    text-align: center;
    height: 100%;
         }


.navlink:hover {
    background-color: aliceblue;
    color: cornflowerblue;
}

 /* .container {
    max-width: 750px;
    margin: auto;
}   */

.main {
    display:flex;
    max-width: 750px;
    margin: 1% auto;   
    box-sizing: content-box;
}

.picture {
    border-radius: 7px;  
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    box-sizing: content-box;
    object-fit: cover;
  }


.main_text {
font-size: 105%;
background-color:rgba(220, 220, 220, 0.5);
border-radius: 15px;
padding: 2%;
margin-left: 5%;
box-sizing: content-box;

}

.info {
    background-color:rgba(220, 220, 220, 0.5);
    border-radius: 15px;
    padding: 2%;
    max-width: 750px;
    margin: 1% auto;
    box-sizing: content-box;
    font-size: 100%;  
}


.contacts_union {
    display: inline-block;
    width: 100%;
    box-sizing: content-box;
} 

.contacts:last-child {
     margin-left: 10px;
}

.contacts {
    display: inline-block;
    width: calc(50% - 8px);
}

.contacts input {
    background-color: rgb(223, 223, 253);
    outline:none;
    width: 100%;
    border: solid 1px #aca9a9;
     }


.info textarea {
    background-color: rgb(223, 223, 253);
    outline:none;
    width: 100%;
    border: solid 1px #aca9a9;
}


.list {
    margin: 0 2em;
    padding: 0;
}

h3, h2 {
    margin-bottom: 0.4em;
}

a {
    color:darkblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
 }

a:hover {
color:darkgreen;
}

a:active {
    color:dodgerblue;
}

/* a:visited {
    color:cadetblue;
} */

.btn {
    background-color: darkblue;
    color: #F8F8FF;
    padding: 1em 2em;
    border: none; 
    cursor: pointer;
    border-radius: 5px;
    font-size: 105%;
    display: block;
    margin:2px auto;
 } 

table {
    width: 100%;
}

table tr:nth-child(even) {
    background-color:#F8F8FF;
}

table thead {
    text-align: left;
 }


 @media (max-width: 570px) {

    .contacts {
        display: inline-block;
        width: 40%;
    }

    a {
        color:darkblue;
        text-decoration: none;
        font-weight: bold;
        font-size: 90%;
     }

     .navbar ul li {
        width: 20%;
        height: 25px;
         }

     .main {
            display:flex;
            max-width: 750px;
            margin: 1% auto;   
            box-sizing: content-box;
            margin-top: 25px;
        }
        
         
 }